//colors
$color-white: #fff;
$color-dark: #000;
$color-theme-1: #f4497e;
$color-theme-2: #6066d8;

//fonts
$font-small: 1.6rem;
$font-medium-small: 2.5rem;
$font-medium: 4rem;
$font-big: 6rem;

//width
$grid-width: 144rem;
$grid-width-small: 91.2rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 8rem;
