.footer {
  border-top: 2px solid $color-theme-2;
  background-color: #b1a5a5ec;
  padding-bottom: 1rem;
  position: relative;

  &__header{
    @include textLG;
    text-align: center;
    font-size: $font-big;
    font-family: 'Ma Shan Zheng', cursive;
    margin: 1.5rem;
  }

  &__list {
    padding: 2rem;
    list-style: none;
    color: #1f1c1c;
    font-size: $font-small;
    transition-delay: 8s;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__copyrights {
    font-size: $font-small;
    padding-top: 2rem;
    text-align: center;
    color: #ffffff;
  }
}
